<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tricentis.TCCore.Persistency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Tricentis.TCCore.Base.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Tricentis.TCAddIns.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tricentis.Cloud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Tricentis.TCAddIns.Reporting.Properties.Settings>
        <setting name="DefaultPrintOutputFormat" serializeAs="String">
            <value>NONE</value>
        </setting>
    </Tricentis.TCAddIns.Reporting.Properties.Settings>
    <Tricentis.TCCore.Persistency.Properties.Settings>
      <setting name="TmpProjectName" serializeAs="String">
        <value>ToscaCommander</value>
      </setting>
      <setting name="NumObjectsToInitiateUnload" serializeAs="String">
        <value>400000</value>
      </setting>
      <setting name="UndoEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskGroupVisibility" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Reporting:True</string>
            <string>TestCaseTemplate:True</string>
            <string>ObjectMap:True</string>
            <string>AutomatedTestCases:True</string>
            <string>ManualTestCases:True</string>
            <string>SearchOpenNewWindow:True</string>
            <string>Advanced:True</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TempDir" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultDbCommandTimeout" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ShowTestCasesWithMissingDatasource" serializeAs="String">
        <value>False</value>
      </setting>
    </Tricentis.TCCore.Persistency.Properties.Settings>
    <Tricentis.TCCore.Base.Properties.Settings>
      <setting name="HijackingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckOutTreeConfirmNumObjects" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="AttachedFilesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommonRepoLockTimeoutInSeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IndividualCheckInEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndividualUpdateEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndividualUpdateShallowEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndividualCheckInHandleUsedOwnedItems" serializeAs="String">
        <value>AskUser</value>
      </setting>
      <setting name="IndividualUpdateHandleUsedOwnedItems" serializeAs="String">
        <value>AlwaysAdd</value>
      </setting>
      <setting name="CreateNewWorkspaceShallowEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Tricentis.TCCore.Base.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.20.0" newVersion="4.3.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Tricentis.Cloud.Properties.Settings>
      <setting name="TokenFileCache" serializeAs="String">
        <value>%AppData%\TRICENTIS\Cloud</value>
      </setting>
    </Tricentis.Cloud.Properties.Settings>
  </applicationSettings>
</configuration>